*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:'poppins',sans-serif;
}
body{
  margin: 0px;
  padding: 0px;
  background-color: #ede3c2;
}

.menu{
  width: 400px;
  float: left;
  height: 70px;
}

.navbar{
  width:auto;
  height:75px;
  margin: auto;
}
.navbar {
  overflow: hidden;
  background-color: #333;
}
.icon{
  width: 200px;
  float: left;
  height: 70px;
}
.logo{
  color: #F9D371;
  font-size: 35px;
  font-family: Arial;
  padding-left:20px;
  float: left;
  padding-top: 10px;


}
.menu{
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  /*width: 400px;*/
  /*float: left;*/
  /*height: 70px;*/
  overflow: hidden;
  margin-bottom: 3%;
}

.title{
  text-align: center;
  font-style: italic;
  font-weight: bold;
}

.search{
  text-align: left;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
}

ul{
  padding: 0px;
  margin-left: 3%;
  /*background-color: purple;*/
  float: left;
  display: flex;s
  overflow: hidden;
  border: 1px solid black;
  /*justify-content: center;
  align-items: center;
*/
}

ul li{
  list-style: none;
  /*margin-left: 62px;*/
  /*margin-top: 27px;*/
  font-size: 18px;
}

ul li a{
  text-decoration: none;
  background-color: white;
  color: black;
  display: block;
  padding: 8px 56px;
  /*color: blue;*/
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;

}

ul li a:hover{
  color: #8E3200;
}


.container{
	width:100%;
	height:100vh;
	display:flex;
	background-color: #ede3c2;
	align-items:center;
	justify-content:center;
}
.btn{
	padding:10px 60px;
	background:#fff;
	border:0;
	outline:none;
	cursor:pointer;
	font-size:22px;
	font-weight:500;
	border-radius:30px;
}
.popup{
	width:600px;
	background:#fff;
	border-radius:6px;
	position:absolute;
	top:0;
	left:50%;
	transform:translate(-50%,-50%)scale(0.1);
	text-align:center;
	padding:0 30px 30px;
	color:#333;
	visibility:hidden;
	transition:transform 0.4s, top 0.4s;
}
.open-popup{
	visibility:visible;
	top:50%;
	transform:translate(-50%,-50%)scale(1);
}

.popup img{
	width:100px;
	margin-top:-50px;
	border-radius:50%;
	box-shadow:0 2px 5px rgba(0,0,0,0.2);
	
}
.popup h2{
	font-size:38px;
	font-weight:500;
	margin:30px 0 10px;
}
.popup button{
	width:30%;
	margin-top: 50px;
	padding:10px 0;
	background:#6fd649;
	color:#fff;
	border:0;
	outline:none;
	font-size:18px;
	border-radius:4px;
	cursor:pointer;
	box-shadow:0 2px 5px rgba(0,0,0,0.2);
}
